/* style.css - style voor Pokedex */
body {
    background-color: #55baed;
}
#overview
{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
}
section
{
    background-color: #6890F0;
}
.a
{
    color: #A040A0;
}
